#home-header{
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-header-right{
  display: flex;
}

#home-header-left{
  display: flex;
    @extend .typography--body
}

#home-footer{
  display: flex;
  justify-content: flex-end;
}